.app {
    width: 100%;
    display: flex;
    flex-direction: column;


}

.container {
    width: 100%;
    margin: 0 5%;
    display: flex;
    justify-content: center;

}

.content {
    margin: 0 280px;

    @media (min-width:1360px) and (max-width: 1919px) {
        margin: 0 5%;

    }

    @media (min-width:1024px) and (max-width: 1359px) {
        margin: 0 5%;

    }

    @media (min-width:760px) and (max-width: 1024px) {
        margin: 0 5%;

    }

    @media (max-width: 759px) {
        margin: 0 5%;

    }

}

.breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}