/*!*********************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss ***!
  \*********************************************************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap);
/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Header/index.scss ***!
  \***************************************************************************************************************************/
.header {
  padding: 10px 0;
}
.header__container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  box-sizing: border-box;
  margin: 0 280px;
}
.header__link, .header__contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}
.header__adress, .header__list, .header__box {
  display: flex;
  align-items: center;
}
.header__geo, .header__mail {
  display: block;
}
.header__geo {
  width: 13.33px;
  height: 16.67px;
  margin-right: 18px;
}
.header__mail {
  height: 13.33px;
  width: 16.67px;
  margin-right: 17px;
}
.header__box {
  margin-right: 42px;
}
.header__box .up__adress,
.header__box .sub__adress {
  margin: 0;
  padding: 0;
}
.header__box .up__adress {
  font-weight: 600;
  font-size: 14px;
  line-height: 18.2px;
}
.header__box .sub__adress {
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
}
.header__list {
  list-style-type: none;
  padding: 0;
}
.header__item a {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}
.header__item:not(:last-child) {
  margin-right: 60px;
}
.header__contact {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 156px;
  height: 66px;
}
.header__catalog {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding: 21px 54px;
  background-color: #FFC85E;
  border-radius: 79px;
  width: 192px;
  height: 59px;
  box-sizing: border-box;
}
.header__catalog img {
  width: 15px;
  height: 15px;
  margin-left: 12px;
  margin-bottom: -2px;
}
.header__input {
  height: 59px;
  border-radius: 36px;
  background-color: #EDEDED;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  padding: 13px 10px 13px 20px;
  border: none;
  width: 263px;
}
.header__search {
  position: relative;
}
.header__searchBtn {
  position: absolute;
  top: 10px;
  left: 214px;
  display: block;
  background-color: #FFC85E;
  width: 39px;
  height: 39px;
  border-radius: 1000px;
  border: none;
  padding-top: 5px;
}
.header__searchBtn img {
  width: 14.53px;
  height: 14.53px;
}
.header__call {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 10px;
}
.header__call p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.header__call .up__call {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}
.header__call .sub__call {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
}
.header__call a {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #3F4E65;
  text-decoration: none;
  text-decoration: underline;
}
.header__caller {
  height: 92px;
  width: 70px;
}
.header #one__line {
  width: 100%;
}
.header #two__line {
  width: 100%;
}
.header__price {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #FFC85E;
  border-radius: 79px;
  width: 200px;
  height: 59px;
  box-sizing: border-box;
  padding: 21px 43.5px;
}
.header__price img {
  margin-left: 14.83px;
  width: 17px;
  height: 17px;
  margin-bottom: -3px;
}
.header__basket {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 128px;
  height: 46px;
  position: relative;
}
.header__basket .basket__img {
  width: 46px;
  height: 46px;
  color: #3F4E65;
}
.header__basket .basket__num {
  position: absolute;
  top: 0;
  left: 33px;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background: #FFC85E;
  border-radius: 28px;
  border: 3px solid #FFFFFF;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__basket .basket__box {
  margin-left: 24px;
}
.header__basket .basket__name {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
}
.header__basket .basket__price {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #111111;
  margin: 0;
}
.header__tel {
  display: flex;
  align-items: center;
}
.header__adress {
  width: 50%;
}
.header__nav {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}
.header__content {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__content:not(:last-child) {
  margin-right: 35px;
}
@media (min-width: 1360px) and (max-width: 1919px) {
  .header {
    margin: 0 5%;
  }
  .header__container {
    margin: 0;
  }
  .header__nav, .header__adress {
    justify-content: center;
  }
  .header__content {
    justify-content: space-around;
  }
}
@media (min-width: 1024px) and (max-width: 1359px) {
  .header {
    margin: 0 5%;
  }
  .header__container {
    margin: 0;
  }
  .header__link, .header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__list {
    width: 100%;
    justify-content: space-between;
  }
  .header__content {
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 760px) and (max-width: 1023px) {
  .header {
    margin: 0 5%;
  }
  .header__container {
    margin: 0;
  }
  .header__link, .header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__list {
    width: 100%;
    justify-content: center;
  }
  .header__content {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 759px) {
  .header {
    margin: 0 5%;
  }
  .header__container {
    margin: 0;
  }
  .header__link, .header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__list {
    width: 100%;
    justify-content: center;
  }
  .header__content {
    width: 100%;
    justify-content: space-between;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (max-width: 570px) {
  .header {
    margin: 0 5%;
  }
  .header__container {
    margin: 0;
  }
  .header__link {
    display: none;
  }
  .header #one__line {
    display: none;
  }
  .header__tel {
    display: none;
  }
  .header__price {
    display: none;
  }
  .header__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__list {
    width: 100%;
    justify-content: center;
  }
  .header__content {
    width: 100%;
    justify-content: space-between;
  }
  .header__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Footer/index.scss ***!
  \***************************************************************************************************************************/
.footer {
  background-color: #3F4E65;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer__container {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  margin: 71px 280px;
  color: #ffffff;
}
.footer__mail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__mail, .footer__menu, .footer__category, .footer__price {
  margin-bottom: 70px;
}
.footer__logo {
  height: 66px;
  width: 156px;
  margin-bottom: 15px;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  width: 320px;
  margin: 0;
  margin-bottom: 45px;
  margin-right: 59px;
}
.footer__signature {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 14px;
}
.footer__subscribe {
  position: relative;
}
.footer__input {
  height: 59px;
  border-radius: 36px;
  color: #5C6370;
  background-color: #ffffff;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding: 13px 10px 13px 20px;
  border: none;
  width: 282px;
  box-sizing: border-box;
}
.footer__subscribeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 39px;
  height: 39px;
  cursor: pointer;
}
.footer__title {
  display: block;
  white-space: nowrap;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
}
.footer__list {
  list-style-type: none;
  margin: 0;
  margin-right: 95px;
  padding: 0;
}
.footer__list li:not(:last-child) {
  margin-bottom: 20px;
}
.footer__item {
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  padding: 0;
}
.footer__download {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #FFC85E;
  border-radius: 79px;
  width: 214px;
  height: 59px;
  box-sizing: border-box;
  padding: 21px 49px;
  margin-bottom: 20px;
  margin-right: 95px;
}
.footer__download img {
  margin-left: 14.83px;
  width: 17px;
  height: 17px;
  margin-bottom: -4px;
}
.footer__social {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin: 0;
  margin-bottom: 15px;
}
.footer__whatsapp, .footer__telegram {
  width: 39px;
  height: 39px;
}
.footer__whatsapp {
  margin-right: 10px;
}
.footer__call {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.footer__call p {
  margin: 0;
  padding: 0;
  padding-bottom: 5px;
}
.footer__call .up__call {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
.footer__call .sub__call {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
}
.footer__call a {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #ffffff;
  text-decoration: none;
  text-decoration: underline;
  margin-bottom: 25px;
}
.footer__box {
  margin-bottom: 25px;
}
.footer__box .up__adress,
.footer__box .sub__adress {
  margin: 0;
  padding: 0;
}
.footer__box .up__adress {
  font-weight: 600;
  font-size: 14px;
  line-height: 18.2px;
}
.footer__box .sub__adress {
  font-weight: 300;
  font-size: 12px;
  line-height: 15.6px;
}
.footer__visa, .footer__master {
  width: 60.94px;
  height: 39px;
}
.footer__visa {
  margin-right: 5px;
}
@media (min-width: 1360px) and (max-width: 1919px) {
  .footer {
    padding: 0;
  }
  .footer__container {
    margin: 71px 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1024px) and (max-width: 1359px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 71px 5%;
  }
}
@media (min-width: 760px) and (max-width: 1023px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 71px 5%;
  }
}
@media (max-width: 759px) {
  .footer__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 71px 5%;
  }
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Breadcrumb/index.scss ***!
  \*******************************************************************************************************************************/
.breadcrumb {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
.breadcrumb__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 120%;
  color: #3F4E65;
  text-decoration: none;
}
.breadcrumb__link::after {
  content: "|";
  display: inline-block;
  opacity: 0.3;
  color: #3F4E65;
  height: 20px;
  cursor: default;
  padding: 0 10px;
}
.breadcrumb__link:last-child::after {
  display: none;
}
.breadcrumb__link:last-child {
  opacity: 0.5;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Home/index.scss ***!
  \*************************************************************************************************************************/
.home {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 150%;
  font-style: italic;
}
/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Product/index.scss ***!
  \****************************************************************************************************************************/
.product {
  margin-top: 65px;
  margin-bottom: 60px;
}
.product__container {
  width: 100%;
  display: flex;
}
.product__image, .product__description {
  width: 48%;
}
.product__image {
  text-align: center;
  margin-right: 4%;
}
.product__image img {
  max-width: 100%;
  max-height: 500px;
}
.product__description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.product__available {
  color: #1FD85D;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  margin: 0;
  padding: 0;
  margin-top: 35px;
  margin-bottom: 10px;
}
.product__btn {
  cursor: pointer;
}
.product__price {
  font-weight: 800;
  font-size: 30px;
  line-height: 150%;
  color: #111111;
  margin: 0;
  margin-bottom: 10px;
  margin-right: 40px;
}
.product__name {
  font-weight: 400;
  margin-left: 10px;
}
.product__vector {
  opacity: 0.3;
  margin-bottom: -2px;
  margin-right: 5px;
}
.product__size {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #3F4E65;
  margin-bottom: 25px;
}
.product__box1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.product__box1 p {
  margin-bottom: 0;
}
.product__box2 {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.product__count {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3F4E65;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  cursor: pointer;
}
.product__counter {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #3F4E65;
  margin: 0 17px;
}
.product__inBasket {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 21px 39.5px;
  background: #FFC85E;
  border-radius: 79px;
  margin-left: 38px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  box-sizing: border-box;
  cursor: pointer;
}
.product__inBasket img {
  margin-left: 12.75px;
}
.product__share {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 28.5px;
  background: #ffffff;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  margin-right: 10px;
}
.product__share img {
  height: 20px;
}
.product__text {
  padding: 20.5px 35.9px;
  background: #ffffff;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #3F4E65;
  width: 316px;
  height: 77px;
  box-sizing: border-box;
  margin: 0;
  margin-right: 10px;
}
.product__text span {
  font-weight: 700;
  display: inline;
}
.product__priceList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 37.5px;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  background: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #3F4E65;
}
.product__priceList img {
  margin-left: 12.83px;
  display: block;
}
.product__subText {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
  margin-bottom: 5px;
}
.product__upText {
  margin-left: 5px;
  font-weight: 500;
  color: #111111;
}
.product__btn {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
}
.product__btn img {
  margin-left: 5px;
}
.product__btn:hover {
  text-decoration: underline;
}
.product__descriptionText {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
  margin-bottom: 10px;
}
.product__back {
  text-decoration: none;
  font-weight: 600;
  font-size: 10px;
  line-height: 120%;
  color: #3F4E65;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: none;
}
.product__back img {
  margin-right: 5px;
  width: 4px;
  height: 8px;
  background: #FFCA65;
  opacity: 0.3;
  border-radius: 100px;
  padding: 12px 15px 12px 13px;
  margin-bottom: -12px;
}
@media (max-width: 1024px) {
  .product__back {
    display: block;
  }
  .product__image, .product__description {
    width: 100%;
  }
  .product__image {
    margin: 0;
  }
  .product__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .product__box1, .product__box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/AdminCard/index.scss ***!
  \******************************************************************************************************************************/
.adminCard {
  width: 100%;
  height: auto;
  background: #FFFFFF;
  border: 1px solid #c2c2c2;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  justify-items: center;
  margin: 15px 0;
}
.adminCard__vector {
  opacity: 0.3;
  margin-bottom: -2px;
}
.adminCard__subText {
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
}
.adminCard__upText {
  font-weight: 500;
  margin-left: 5px;
  font-size: 12px;
  line-height: 150%;
  margin-bottom: 5px;
}
.adminCard__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  border: none;
  background-color: rgb(170, 210, 170);
  border-radius: 80px;
  width: 153px;
  height: 45px;
  box-sizing: border-box;
  cursor: pointer;
}
.adminCard__image {
  max-width: 200px;
  display: block;
}
.adminCard__body {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
/*!**************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Admin/index.scss ***!
  \**************************************************************************************************************************/
.admin {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-top: 25px;
}
.admin__box {
  display: grid;
  grid-template-columns: no-repeat(1fr);
  justify-items: center;
  height: 200px;
  padding-top: 25px;
}
.admin__container {
  display: flex;
  flex-direction: column;
}
.admin__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 5px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.15em;
  border-radius: 80px;
  width: 210px;
  height: 45px;
  box-sizing: border-box;
  cursor: pointer;
}
.admin__form {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.blue {
  background-color: rgb(122, 182, 255);
}

.green {
  background-color: rgb(138, 185, 138);
}

.red {
  background-color: rgb(255, 89, 89);
}

.textarea {
  padding: 5px;
  height: 20px;
}

.description {
  padding: 5px;
  min-height: 50px;
  margin-bottom: 15px;
}
/*!*******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/BasketItem/index.scss ***!
  \*******************************************************************************************************************************/
.basketItem__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basketItem__line {
  display: block;
  opacity: 0.3;
  color: #3F4E65;
  width: 100%;
  margin: 50px 0;
}
.basketItem__image {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  margin-right: 20px;
}
.basketItem__image img {
  max-width: 270px;
  max-height: 180px;
}
.basketItem__description {
  width: 505px;
}
.basketItem__vector {
  opacity: 0.3;
  margin-bottom: -2px;
}
.basketItem__size {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #3F4E65;
  margin-left: 5px;
}
.basketItem__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
  margin: 10px 0;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.basketItem__text {
  width: 444px;
  height: 54px;
  font-weight: 300;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.basketItem__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basketItem__hr {
  width: 0;
  height: 50px;
  color: #3F4E65;
  opacity: 0.2;
  margin: 0 44px;
}
.basketItem__count {
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3F4E65;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  cursor: pointer;
}
.basketItem__counter {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #3F4E65;
  margin: 0 17px;
}
.basketItem__priceNumber {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
  margin: 0;
  white-space: nowrap;
}
.basketItem__remove {
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  background: #FFC85E;
  border-radius: 79px;
  cursor: pointer;
}
@media (min-width: 760px) and (max-width: 1919px) {
  .basketItem {
    padding: 0;
  }
  .basketItem__item {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
/*!***************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Basket/index.scss ***!
  \***************************************************************************************************************************/
.basket {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  padding-top: 50px;
  padding-bottom: 100px;
}
.basket__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}
.basket__title2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 150%;
  font-style: normal;
  text-align: center;
  margin: 0;
}
.basket__line {
  display: block;
  opacity: 0.3;
  color: #3F4E65;
  width: 100%;
  margin: 50px 0;
}
.basket__container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.basket__buy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  background: #FFC85E;
  border-radius: 79px;
  width: 192px;
  height: 59px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  cursor: pointer;
}
.basket__purchase {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket__fullPrice {
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #111111;
}
.basket #thanks {
  display: none;
}
.basket #basketNull {
  display: block;
}
/*!*************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Card/index.scss ***!
  \*************************************************************************************************************************/
.card {
  width: 326px;
  height: 490px;
  background: #FFFFFF;
  box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0 20px;
  padding-top: 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__vector {
  opacity: 0.3;
  margin-bottom: -2px;
}
.card__size {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #3F4E65;
  margin-left: 5px;
}
.card__brand {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #111111;
  margin: 0;
  margin-top: 10px;
}
.card__brand:hover {
  text-decoration: underline;
}
.card__name {
  font-weight: 500;
  margin-left: 5px;
}
.card__subText {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
  margin-bottom: 5px;
}
.card__upText {
  font-weight: 500;
  margin-left: 5px;
}
.card__priceBtn {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.card__price {
  font-weight: 800;
  font-size: 16px;
  line-height: 130%;
  margin: 0;
  margin-right: 40px;
  box-sizing: border-box;
  white-space: nowrap;
}
.card__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 19px;
  gap: 5px;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.15em;
  background-color: #FFC85E;
  border-radius: 80px;
  width: 153px;
  height: 45px;
  box-sizing: border-box;
  cursor: pointer;
}
.card__btn img {
  width: 23.72px;
  height: 16.88px;
  margin-left: 1px;
  margin-bottom: -2px;
}
.card__image {
  max-height: 194px;
  display: block;
}
.card__body {
  min-height: 254px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*!****************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Catalog/index.scss ***!
  \****************************************************************************************************************************/
.catalog__link {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.catalog__link:hover {
  text-decoration: underline;
}
.catalog__link figure {
  box-sizing: border-box;
  padding: 5px;
  margin: 20px 0;
}
.catalog__link figure img {
  width: 250px;
  border-radius: 20px;
  background: #fff6e4;
}
.catalog__title {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  margin-top: 10px;
}
/*!******************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/Cosmetics/index.scss ***!
  \******************************************************************************************************************************/
.cosmetics {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.cosmetics__header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  margin-bottom: 25px;
}
.cosmetics__header #sort {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3F4E65;
  cursor: pointer;
}
.cosmetics__header #sort:not([multiple]) {
  padding-right: 1.2em;
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 0.7em;
  background-size: 0.5em auto;
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 80 80%27%3E%3Cpath d=%27M70.3 13.8L40 66.3 9.7 13.8z%27 fill=%27%23000%27%3E%3C/path%3E%3C/svg%3E");
}
.cosmetics__title {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-top: 50px;
}
.cosmetics__sort {
  display: flex;
  align-items: end;
}
.cosmetics__sorted {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 0;
  margin-right: 5px;
}
.cosmetics__list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}
.cosmetics__item {
  width: 100px;
  height: 70px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  border-radius: 10px;
  background: #ffffff;
}
.cosmetics__item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #3F4E65;
  text-align: center;
}
.cosmetics__bar {
  width: 238px;
  margin-right: 108px;
  margin-top: 20px;
}
.cosmetics__container {
  display: flex;
  justify-content: center;
}
.cosmetics__parameter {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 0;
  margin-bottom: 15px;
}
.cosmetics__checker {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  margin: 0;
  cursor: pointer;
}
.cosmetics__filterTypeCare {
  margin-right: 10px;
  cursor: pointer;
}
.cosmetics__listBar {
  list-style-type: none;
  padding: 0;
}
.cosmetics__listBar li {
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}
.cosmetics__price {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin-right: 5px;
  margin-bottom: 16px;
  display: inline-block;
}
.cosmetics__priceT {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
}
.cosmetics__priceInput {
  width: 100px;
  height: 23px;
  padding: 4px 14px;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: #3F4E65;
  text-align: center;
  border: none;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
  margin-bottom: 30px;
  -moz-appearance: textfield;
  appearance: none;
}
.cosmetics__priceInput::-webkit-outer-spin-button, .cosmetics__priceInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cosmetics__defis {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #3F4E65;
  margin: 0 10px;
}
.cosmetics__input {
  height: 59px;
  border-radius: 36px;
  background-color: #EDEDED;
  vertical-align: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.6;
  padding: 13px 10px 13px 20px;
  border: none;
  width: 238px;
}
.cosmetics__search {
  position: relative;
}
.cosmetics__searchBtn {
  position: absolute;
  top: 10px;
  left: 190px;
  display: block;
  background-color: #FFC85E;
  width: 39px;
  height: 39px;
  border-radius: 1000px;
  border: none;
  padding-top: 5px;
  cursor: pointer;
}
.cosmetics__searchBtn img {
  width: 14.53px;
  height: 14.53px;
}
.cosmetics hr {
  margin: 20px 0;
  color: #3F4E65;
  opacity: 0.3;
}
.cosmetics__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cosmetics__listCard {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.cosmetics__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.cosmetics__pagination .selected {
  width: 35px;
  height: 35px;
  background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border-radius: 1000px;
}
.cosmetics__pagination li {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #3F4E65;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  box-sizing: border-box;
}
.cosmetics__checkbox {
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}
.cosmetics__checkboxLabel {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #3F4E65;
  margin: 0;
  margin-right: 5px;
  cursor: pointer;
}
.cosmetics__checkboxCount {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #3F4E65;
}
.cosmetics__listFilter {
  list-style-type: none;
  padding: 0;
}
.cosmetics__listFilter li:nth-child(n+5) {
  display: none;
}
.cosmetics__listFilter.open li:nth-child(n+5) {
  display: list-item;
}
.cosmetics__showAll {
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
  color: #3F4E65;
  cursor: pointer;
}
.cosmetics__showAll img {
  margin-left: 5px;
}
@media (min-width: 1360px) and (max-width: 1919px) {
  .cosmetics__listCard {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (min-width: 1024px) and (max-width: 1359px) {
  .cosmetics__listCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .cosmetics__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .cosmetics__bar {
    margin-right: 10%;
  }
  .cosmetics__container {
    width: 100%;
  }
}
@media (min-width: 760px) and (max-width: 1023px) {
  .cosmetics__listCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .cosmetics__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .cosmetics__bar {
    margin-right: 10%;
  }
  .cosmetics__container {
    width: 100%;
  }
}
@media (max-width: 759px) {
  .cosmetics__listCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
  }
  .cosmetics__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }
  .cosmetics__bar {
    margin-right: 10%;
  }
  .cosmetics__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .cosmetics__header {
    flex-direction: column;
    align-items: flex-start;
  }
  .cosmetics__title {
    margin-bottom: 30px;
  }
  .cosmetics__type {
    display: none;
  }
}
/*!********************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/components/index.scss ***!
  \********************************************************************************************************************/
.app {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  margin: 0 5%;
  display: flex;
  justify-content: center;
}

.content {
  margin: 0 280px;
}
@media (min-width: 1360px) and (max-width: 1919px) {
  .content {
    margin: 0 5%;
  }
}
@media (min-width: 1024px) and (max-width: 1359px) {
  .content {
    margin: 0 5%;
  }
}
@media (min-width: 760px) and (max-width: 1024px) {
  .content {
    margin: 0 5%;
  }
}
@media (max-width: 759px) {
  .content {
    margin: 0 5%;
  }
}

.breadcrumb {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/*!***********************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./node_modules/normalize.css/normalize.css ***!
  \***********************************************************************************************************************************/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}
/*!*************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/index.scss (1) ***!
  \*************************************************************************************************************/
body {
  font-family: "Inter", sans-serif;
  color: #111111;
  background-color: #fff;
  margin: 0 auto;
  box-sizing: border-box;
}
